In [20]:
import os
import pandas as pd
import numpy as np
##基本內容設定
# folder_path = "/Users/winniecheng/Desktop"
# in_path = os.path.join(folder_path, '202112 PM Monthly review.xlsx')
input_path = '02112 PM Monthly review.xlsx'
output_path = os.path.join(folder_path, '市場資料_202112.xlsx')
##欄位設定
melt_col_list = ['Operator', 'Channel', 'Brand', 'Model Name(Daily Report)', 'Model Name', 
                     'SRP', 'Price Tier\nNEW', '頻段']
final_col_list = ['Operator', 'Channel', 'Brand', 'FET_model_name', 'out_model_name', 
                     'SRP', 'Price Tier/NEW', '頻段', '商品銷售日', '銷售量']
in_sheet = '工作表1'
##Model name彙整，use all_name
def model_combine_fuc(all_name, in_brand):
    if all_name is np.nan:
        return 'type error'
#     elif 'Samsung' in all_name:
#         return str(all_name).re.sub('[0-2]', '')
    else:
        return str(all_name).replace(in_brand + ' ', '')
##時間清理
def time_clean_fuc(tmp_time):
    tmp_date_list = tmp_time.replace(" ", '').split("'")
    tmp_m = tmp_date_list[0]
    tmp_y = tmp_date_list[1]
    ##時間重組
    y_v = '20' + str(int(tmp_y))
    m_v = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'].index(tmp_m)
    return str(y_v) + '/' + str(m_v + 1) + '/01' 
##主程式
if __name__ == '__main__':
    ##檔案讀取
    df = pd.read_excel(in_path, sheet_name = in_sheet)
    ##刪除不需要price tier column
    df = df.drop(columns=['Price Tier'])
    ##選定欄位範圍
    col_list = df.columns.tolist()
#     col_list = col_list[:col_list.index("MoM")]
    df = df[col_list]
    ##將資料整理成匯出形式
    out_df = pd.melt(df, id_vars=melt_col_list)
    out_df.columns = final_col_list
    out_df['new_model_name'] = out_df.apply(lambda x: model_combine_fuc(x.out_model_name, x.Brand), axis=1)
    out_df['商品銷售日'] = out_df['商品銷售日'].apply(time_clean_fuc)
    ##正則式取代()內資訊
    out_df['new_model'] = out_df.new_model_name.str.replace('\([a-bA-b0-9\+\)/ ]+', '', regex=True)
    ##檔案儲存
    writer = pd.ExcelWriter(output_path, engine = 'xlsxwriter')
    out_df.to_excel(writer, index=False, sheet_name='總表new')
    writer.save()

In [19]:
df.columns

Index(['Operator', 'Channel', 'Brand', 'Model Name(Daily Report)',
       'Model Name', 'SRP', 'Price Tier\nNEW', 'Jan' 19', 'Feb' 19', 'Mar' 19',
       'Apr' 19', 'May'19', 'Jun'19', 'Jul'19', 'Aug'19', 'Sep'19', 'Oct'19',
       'Nov'19', 'Dec'19', 'Jan'20', 'Feb'20', 'Mar'20', 'Apr'20', 'May'20',
       'Jun'20', 'Jul'20', 'Aug'20', 'Sep'20', 'Oct'20', 'Nov'20', 'Dec'20',
       'Jan'21', 'Feb'21', 'Mar'21', 'Apr'21', 'May'21', 'Jun'21', 'Jul'21',
       'Aug'21', 'Sep'21', 'Oct'21', 'Nov'21', 'Dec'21', 'Jan'22', '頻段'],
      dtype='object')

(1694, 43)

,Operator,Channel,Brand,Model Name(Daily Report),Model Name,SRP,Price Tier\nNEW,Price Tier/New,Jan' 19,Feb' 19,...,Feb'21,Mar'21,Apr'21,May'21,Jun'21,Jul'21,Aug'21,Sep'21,頻段,MoM
0,TWM,專案機,Apple,NaN,iPhone 11,26900,Apple,H,NaN,NaN,...,520.0,530.0,270.0,270.0,550.0,1200.0,550.0,NaN,4G,-246.0
1,TWM 外部,ND,Apple,NaN,iPhone 11,26900,Apple,H,NaN,NaN,...,3400.0,NaN,NaN,810.0,850.0,1400.0,800.0,NaN,4G,-1532.0
2,TWM 外部,EC,Apple,NaN,iPhone 11,26900,Apple,H,NaN,NaN,...,NaN,NaN,NaN,650.0,632.0,520.0,500.0,NaN,4G,-1532.0
3,TWM,專案機,Apple,NaN,iPhone 11 Pro,41400,Apple,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4G,0.0
4,TWM 外部,ND,Apple,NaN,iPhone 11 Pro,41400,Apple,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4G,0.0

['Operator',
 'Channel',
 'Brand',
 'Model Name(Daily Report)',
 'Model Name',
 'SRP',
 'Price Tier\nNEW',
 'Price Tier/New',
 "Jan' 19",
 "Feb' 19",
 "Mar' 19",
 "Apr' 19",
 "May'19",
 "Jun'19",
 "Jul'19",
 "Aug'19",
 "Sep'19",
 "Oct'19",
 "Nov'19",
 "Dec'19",
 "Jan'20",
 "Feb'20",
 "Mar'20",
 "Apr'20",
 "May'20",
 "Jun'20",
 "Jul'20",
 "Aug'20",
 "Sep'20",
 "Oct'20",
 "Nov'20",
 "Dec'20",
 "Jan'21",
 "Feb'21",
 "Mar'21",
 "Apr'21",
 "May'21",
 "Jun'21",
 "Jul'21",
 "Aug'21",
 "Sep'21",
 '頻段',
 'MoM']